-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalle Evento</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

  


    <ion-card>        
            <img src="assets/imgs/ss.jpg" />
          
        <ion-card-content>
          <ion-card-title>
              {{eventWord.word}} 
            </ion-card-title>
          <p>
            Lugar: {{eventWord.place}}

          </p>
          <p>
              Descripcion: {{eventWord.description}}
            </p>

        </ion-card-content>
      </ion-card>

     <ion-card>
        <ion-card-header>
          Invitados
        </ion-card-header>   


        <ion-list *ngFor="let event of eventWord2">
            <ion-item>
              <ion-thumbnail item-start>
                <img [src]="event.image" *ngIf= "event.image">
              </ion-thumbnail>
              <h2>  {{event.nombre}}</h2>
            </ion-item>
            
          </ion-list> 
      </ion-card>    
   <button ion-button block (click)="goToAddUser()">Agregar Invitados</button>
      
</ion-content>


